@mixin gray-scrollbar() {
  &::-webkit-scrollbar-track {
    box-shadow: inset 0 0 toRem(4) rgba(0,0,0,0.2);
    -webkit-box-shadow: inset 0 0 toRem(4) rgba(0,0,0,0.2);
    border-radius: toRem(4);
    background-color: #F4F4F4;
  }

  &::-webkit-scrollbar {
    width: toRem(6);
    background-color: #f4f4f4;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: toRem(4);
    box-shadow: inset 0 0 toRem(4) rgba(0,0,0,0.2);
    -webkit-box-shadow: inset 0 0 toRem(4) rgba(0,0,0,0.2);
    background-color: $border-grey;
  }
}