@font-face {
  font-family: "icomoon";
  src: url("../fonts/icomoon.eot?fykx57");
  src: url("../fonts/icomoon.eot?fykx57#iefix") format("embedded-opentype"),
    url("../fonts/icomoon.ttf?fykx57") format("truetype"),
    url("../fonts/icomoon.woff?fykx57") format("woff"),
    url("../fonts/icomoon.svg?fykx57#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"],
[class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "icomoon" !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-accept:before {
  content: "\e900";
}

.icon-activities:before {
  content: "\e901";
}

.icon-add-file:before {
  content: "\e902";
}

.icon-add-group:before {
  content: "\e903";
}

.icon-alarm:before {
  content: "\e904";
}

.icon-alert-circle:before {
  content: "\e905";
}

.icon-align-justify:before {
  content: "\e906";
}

.icon-angle-left:before {
  content: "\e907";
}

.icon-announcement-speaker:before {
  content: "\e908";
}

.icon-app-outline:before {
  content: "\e909";
}

.icon-app:before {
  content: "\e90a";
}

.icon-arrow-left:before {
  content: "\e90b";
}

.icon-arrow-right:before {
  content: "\e90c";
}

.icon-arrow-swap:before {
  content: "\e90d";
}

.icon-assessment:before {
  content: "\e90e";
}

.icon-assignment:before {
  content: "\e90f";
}

.icon-bar-chart-left:before {
  content: "\e910";
}

.icon-bar-chart:before {
  content: "\e911";
}

.icon-bar-highest:before {
  content: "\e912";
}

.icon-bar-lowest:before {
  content: "\e913";
}

.icon-bell-fill:before {
  content: "\e914";
}

.icon-bell:before {
  content: "\e915";
}

.icon-bold:before {
  content: "\e916";
}

.icon-book-cover:before {
  content: "\e917";
}

.icon-book-pile:before {
  content: "\e918";
}

.icon-book-stack:before {
  content: "\e919";
}

.icon-book:before {
  content: "\e91a";
}

.icon-bookmark:before {
  content: "\e91b";
}

.icon-briefcase:before {
  content: "\e91c";
}

.icon-business:before {
  content: "\e91d";
}

.icon-calendar-event:before {
  content: "\e91e";
}

.icon-calendar:before {
  content: "\e91f";
}

.icon-callout:before {
  content: "\e920";
}

.icon-camera:before {
  content: "\e921";
}

.icon-caret-down:before {
  content: "\e922";
}

.icon-caret-fill-down:before {
  content: "\e923";
}

.icon-caret-fill-left:before {
  content: "\e924";
}

.icon-caret-fill-right:before {
  content: "\e925";
}

.icon-caret-fill-up:before {
  content: "\e926";
}

.icon-caret-left:before {
  content: "\e927";
}

.icon-caret-right:before {
  content: "\e928";
}

.icon-caret-up:before {
  content: "\e929";
}

.icon-chat-card:before {
  content: "\e92a";
}

.icon-chat:before {
  content: "\e92b";
}

.icon-chats-circle:before {
  content: "\e92c";
}

.icon-check-circle:before {
  content: "\e92d";
}

.icon-checked-fill:before {
  content: "\e92e";
}

.icon-circle-question-mark:before {
  content: "\e92f";
}

.icon-classboard:before {
  content: "\e930";
}

.icon-clear:before {
  content: "\e931";
}

.icon-clock:before {
  content: "\e932";
}

.icon-close:before {
  content: "\e933";
}

.icon-cloud-arrow-down:before {
  content: "\e934";
}

.icon-cloud-download:before {
  content: "\e935";
}

.icon-comment-chat:before {
  content: "\e936";
}

.icon-commentary:before {
  content: "\e937";
}

.icon-community-fill:before {
  content: "\e938";
}

.icon-control:before {
  content: "\e939";
}

.icon-copy:before {
  content: "\e93a";
}

.icon-correct:before {
  content: "\e93b";
}

.icon-credit-card:before {
  content: "\e93c";
}

.icon-crown:before {
  content: "\e93d";
}

.icon-curriculum:before {
  content: "\e93e";
}

.icon-customer-care:before {
  content: "\e93f";
}

.icon-decline:before {
  content: "\e940";
}

.icon-description:before {
  content: "\e941";
}

.icon-discount:before {
  content: "\e942";
}

.icon-discussion:before {
  content: "\e943";
}

.icon-discussions:before {
  content: "\e944";
}

.icon-doc:before {
  content: "\e945";
}

.icon-docx:before {
  content: "\e946";
}

.icon-dotted-roller:before {
  content: "\e947";
}

.icon-dotted-spinner:before {
  content: "\e948";
}

.icon-double-caret-down:before {
  content: "\e949";
}

.icon-double-caret-up:before {
  content: "\e94a";
}

.icon-download:before {
  content: "\e94b";
}

.icon-edit-area:before {
  content: "\e94c";
}

.icon-edit-line:before {
  content: "\e94d";
}

.icon-edit-pen:before {
  content: "\e94e";
}

.icon-ellipsis-h:before {
  content: "\e94f";
}

.icon-ellipsis:before {
  content: "\e950";
}

.icon-email:before {
  content: "\e951";
}

.icon-empty-trash:before {
  content: "\e952";
}

.icon-end-call:before {
  content: "\e953";
}

.icon-endorse-check:before {
  content: "\e954";
}

.icon-error-alert:before {
  content: "\e955";
}

.icon-error-report:before {
  content: "\e956";
}

.icon-event-cancel:before {
  content: "\e957";
}

.icon-event-schedule:before {
  content: "\e958";
}

.icon-external-link:before {
  content: "\e959";
}

.icon-eye:before {
  content: "\e95a";
}

.icon-facebook-fill:before {
  content: "\e95b";
}

.icon-facebook:before {
  content: "\e95c";
}

.icon-feeds:before {
  content: "\e95d";
}

.icon-file-plus:before {
  content: "\e95e";
}

.icon-file-text:before {
  content: "\e95f";
}

.icon-file:before {
  content: "\e960";
}

.icon-files:before {
  content: "\e961";
}

.icon-filter-icon:before {
  content: "\e962";
}

.icon-filter-lines:before {
  content: "\e963";
}

.icon-flag-fill:before {
  content: "\e964";
}

.icon-flag:before {
  content: "\e965";
}

.icon-folder:before {
  content: "\e966";
}

.icon-formula:before {
  content: "\e967";
}

.icon-full-signal:before {
  content: "\e968";
}

.icon-gallery:before {
  content: "\e969";
}

.icon-game:before {
  content: "\e96a";
}

.icon-gear-fill-edge:before {
  content: "\e96b";
}

.icon-gear-fill:before {
  content: "\e96c";
}

.icon-gear:before {
  content: "\e96d";
}

.icon-git-commit:before {
  content: "\e96e";
}

.icon-google:before {
  content: "\e96f";
}

.icon-graduation-cap-outline:before {
  content: "\e970";
}

.icon-graduation-cap:before {
  content: "\e971";
}

.icon-group-users:before {
  content: "\e972";
}

.icon-hamburger:before {
  content: "\e973";
}

.icon-help-circle:before {
  content: "\e974";
}

.icon-help-file:before {
  content: "\e975";
}

.icon-helper:before {
  content: "\e976";
}

.icon-hide:before {
  content: "\e977";
}

.icon-high-volume:before {
  content: "\e978";
}

.icon-image:before {
  content: "\e979";
}

.icon-info-circle:before {
  content: "\e97a";
}

.icon-info-italics:before {
  content: "\e97b";
}

.icon-info:before {
  content: "\e97c";
}

.icon-insert-space:before {
  content: "\e97d";
}

.icon-instagram:before {
  content: "\e97e";
}

.icon-invitation:before {
  content: "\e97f";
}

.icon-isers-outline:before {
  content: "\e980";
}

.icon-italic:before {
  content: "\e981";
}

.icon-jpg:before {
  content: "\e982";
}

.icon-library:before {
  content: "\e983";
}

.icon-line-dash:before {
  content: "\e984";
}

.icon-link:before {
  content: "\e985";
}

.icon-linkedin-fill:before {
  content: "\e986";
}

.icon-linkedin:before {
  content: "\e987";
}

.icon-live-class:before {
  content: "\e988";
}

.icon-lock-fill:before {
  content: "\e989";
}

.icon-log-out:before {
  content: "\e98a";
}

.icon-love-outline:before {
  content: "\e98b";
}

.icon-love:before {
  content: "\e98c";
}

.icon-low-signal:before {
  content: "\e98d";
}

.icon-low-volume:before {
  content: "\e98e";
}

.icon-map-pin-sm:before {
  content: "\e98f";
}

.icon-map-pin:before {
  content: "\e990";
}

.icon-map:before {
  content: "\e991";
}

.icon-master-card:before {
  content: "\e992";
}

.icon-maximize-arrow:before {
  content: "\e993";
}

.icon-maximize:before {
  content: "\e994";
}

.icon-members:before {
  content: "\e995";
}

.icon-message:before {
  content: "\e996";
}

.icon-mic-off:before {
  content: "\e997";
}

.icon-mic-on:before {
  content: "\e998";
}

.icon-minimize:before {
  content: "\e999";
}

.icon-minus:before {
  content: "\e99a";
}

.icon-motivation:before {
  content: "\e99b";
}

.icon-mp4:before {
  content: "\e99c";
}

.icon-music-note:before {
  content: "\e99d";
}

.icon-mute:before {
  content: "\e99e";
}

.icon-naira:before {
  content: "\e99f";
}

.icon-no-photo:before {
  content: "\e9a0";
}

.icon-no-wifi:before {
  content: "\e9a1";
}

.icon-note-text-fill:before {
  content: "\e9a2";
}

.icon-note-text:before {
  content: "\e9a3";
}

.icon-notepad:before {
  content: "\e9a4";
}

.icon-opposite-caret:before {
  content: "\e9a5";
}

.icon-options:before {
  content: "\e9a6";
}

.icon-paper-clip:before {
  content: "\e9a7";
}

.icon-paper-plane-angle:before {
  content: "\e9a8";
}

.icon-paper-plane:before {
  content: "\e9a9";
}

.icon-parent-child:before {
  content: "\e9aa";
}

.icon-parent-group:before {
  content: "\e9ab";
}

.icon-parents:before {
  content: "\e9ac";
}

.icon-paste:before {
  content: "\e9ad";
}

.icon-pause-no-fill:before {
  content: "\e9ae";
}

.icon-pause:before {
  content: "\e9af";
}

.icon-pdf:before {
  content: "\e9b0";
}

.icon-phone:before {
  content: "\e9b1";
}

.icon-picture-in-picture:before {
  content: "\e9b2";
}

.icon-pie-chart:before {
  content: "\e9b3";
}

.icon-pie:before {
  content: "\e9b4";
}

.icon-play-bg:before {
  content: "\e9b5";
}

.icon-play-outline:before {
  content: "\e9b6";
}

.icon-play-square:before {
  content: "\e9b7";
}

.icon-play:before {
  content: "\e9b8";
}

.icon-plus:before {
  content: "\e9b9";
}

.icon-poll:before {
  content: "\e9ba";
}

.icon-ppt:before {
  content: "\e9bb";
}

.icon-practice-card:before {
  content: "\e9bc";
}

.icon-printer:before {
  content: "\e9bd";
}

.icon-privacy:before {
  content: "\e9be";
}

.icon-question-hexagon:before {
  content: "\e9bf";
}

.icon-questions:before {
  content: "\e9c0";
}

.icon-reply:before {
  content: "\e9c1";
}

.icon-restart:before {
  content: "\e9c2";
}

.icon-reward-pack:before {
  content: "\e9c3";
}

.icon-school-fill:before {
  content: "\e9c4";
}

.icon-school:before {
  content: "\e9c5";
}

.icon-search:before {
  content: "\e9c6";
}

.icon-select:before {
  content: "\e9c7";
}

.icon-share-fill:before {
  content: "\e9c8";
}

.icon-share-network:before {
  content: "\e9c9";
}

.icon-share-screen:before {
  content: "\e9ca";
}

.icon-share:before {
  content: "\e9cb";
}

.icon-shield-ok:before {
  content: "\e9cc";
}

.icon-show:before {
  content: "\e9cd";
}

.icon-slide:before {
  content: "\e9ce";
}

.icon-sliders:before {
  content: "\e9cf";
}

.icon-smartphone:before {
  content: "\e9d0";
}

.icon-speaker-notes:before {
  content: "\e9d1";
}

.icon-speaker:before {
  content: "\e9d2";
}

.icon-square-grid:before {
  content: "\e9d3";
}

.icon-stamp:before {
  content: "\e9d4";
}

.icon-star-full:before {
  content: "\e9d5";
}

.icon-status-indicator:before {
  content: "\e9d6";
}

.icon-stopwatch:before {
  content: "\e9d7";
}

.icon-student-group:before {
  content: "\e9d8";
}

.icon-student-user:before {
  content: "\e9d9";
}

.icon-student:before {
  content: "\e9da";
}

.icon-swap:before {
  content: "\e9db";
}

.icon-tachometer:before {
  content: "\e9dc";
}

.icon-tag-fill:before {
  content: "\e9dd";
}

.icon-tag:before {
  content: "\e9de";
}

.icon-target:before {
  content: "\e9df";
}

.icon-teacher-class:before {
  content: "\e9e0";
}

.icon-teacher-talk:before {
  content: "\e9e1";
}

.icon-teacher:before {
  content: "\e9e2";
}

.icon-thumbs-down:before {
  content: "\e9e3";
}

.icon-thumbs-up:before {
  content: "\e9e4";
}

.icon-timeline:before {
  content: "\e9e5";
}

.icon-timer:before {
  content: "\e9e6";
}

.icon-trash:before {
  content: "\e9e7";
}

.icon-trending-down:before {
  content: "\e9e8";
}

.icon-trending-up:before {
  content: "\e9e9";
}

.icon-twitter:before {
  content: "\e9ea";
}

.icon-txt:before {
  content: "\e9eb";
}

.icon-underline:before {
  content: "\e9ec";
}

.icon-upload:before {
  content: "\e9ed";
}

.icon-url-link:before {
  content: "\e9ee";
}

.icon-user-circle-gear:before {
  content: "\e9ef";
}

.icon-user-circle-minus:before {
  content: "\e9f0";
}

.icon-user-circle-plus:before {
  content: "\e9f1";
}

.icon-user-circle:before {
  content: "\e9f2";
}

.icon-user-fill:before {
  content: "\e9f3";
}

.icon-user-outline:before {
  content: "\e9f4";
}

.icon-user-plus:before {
  content: "\e9f5";
}

.icon-verified-note:before {
  content: "\e9f6";
}

.icon-verified-user:before {
  content: "\e9f7";
}

.icon-verve-card:before {
  content: "\e9f8";
}

.icon-video-cam-outline:before {
  content: "\e9f9";
}

.icon-video-card:before {
  content: "\e9fa";
}

.icon-video-off:before {
  content: "\e9fb";
}

.icon-video-on:before {
  content: "\e9fc";
}

.icon-video-show:before {
  content: "\e9fd";
}

.icon-videocam:before {
  content: "\e9fe";
}

.icon-visa-card:before {
  content: "\e9ff";
}

.icon-wallet-fill:before {
  content: "\ea00";
}

.icon-wallet-outline:before {
  content: "\ea01";
}

.icon-warning-alert:before {
  content: "\ea02";
}

.icon-watch:before {
  content: "\ea03";
}

.icon-whatsapp-fill:before {
  content: "\ea04";
}

.icon-whatsapp:before {
  content: "\ea05";
}

.icon-wifi:before {
  content: "\ea06";
}

.icon-worksheet:before {
  content: "\ea07";
}

.icon-wrong:before {
  content: "\ea08";
}

.icon-xls:before {
  content: "\ea09";
}

.icon-youtube:before {
  content: "\ea0a";
}

.icon-zoom-in:before {
  content: "\ea0b";
}
